#negro {
	
	color: black;
}

#registro{
	padding-right: 20%;
	padding-left: 20%;
	
}

#validoRojo{
	border-color: red;
	border-width: 2px;
}

#validoGreen{
	border-color: green;
	border-width: 2px;
}